*{
    padding: 0%;
    margin: 0%;
}

.banner2 {
    height: 140px;
    width: 100%; 
    background-image: url(https://fglprdwebsitewebapp.azureedge.net/media/6cef725e-7e44-41f4-9330-c5797e8ff660/h3kdRA/MARQUES/CCM/FW22/Desktop/2022CCM_EndBanner_Desktop.jpg);
    background-image: linear-gradient(rbga(4,9,30,0.7));
    background-position: center; 
    background-size: cover;
}

.banner3 {
    height: 140px;
    width: 100%; 
    background-image: url(https://www.saskatoon.ca/sites/default/files/documents/indoor_rinks.jpg);
    background-image: linear-gradient(rbga(4,9,30,0.7));
    background-position: center; 
    background-size: cover;
}

.banner{
    color: black;
    position: absolute;
    
}
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

}
.logo {
    width: 100px;
    height: 100px;
    float: right;
    padding-bottom: 0cm;
    margin-bottom: 0px;

}

.title {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 30px;
    background-color: rgb(0, 0, 0);
    padding-right: 10px;
    width: 200px;
    padding-left: 0;
    margin-left: 0cm;
}


.pagetitle {
    color: rgb(255, 255, 255);
    font-weight: 200px;
    font-size: 30px;
    background-color: rgb(0, 0, 0);
    padding-right: 10px;
    width: 200px;
    padding-left: 10px;
    padding-bottom: 20px;
    margin: 20px;
    padding-top: 20px;

}

ul {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
  }

li {
    float: left;
    align-items: center;
  }

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 22px;
    text-decoration: solid;
    font-size: 20px;
  }
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: rgb(58, 58, 58);
  }

.bannerblack {
    background-color: rgb(0, 0, 0);
    width: 100%;
    padding-top: 0;
    margin-top: 0;
    left: 0%;
    padding: 0%;
    margin: 0%;
}

.profile {
    margin-top: 10px;
    height: 35%;
    margin-right: 5px;
    float: left;
    position: relative;
    border-radius: 10px;
    border-color: brown;
    padding-right: 7px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-top: 5px;
    margin-left: 1%;
}

.profiletitle {
    font-size: 30px;
    font-weight: bolder;
    padding-left: 0px;
    margin-left: 0%;
    color: rgb(255, 255, 255);
    width: 98%;
    margin-left: 2px;
    margin-top: 10px;
    margin-right: 10px;
    align-content: center;
    background-color: black;


}
.profiletext {
    color: rgb(231, 244, 255);
    width: 98%;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    margin-top: 10px;
    padding-left: 2px;
    align-content: center;
}

.profiletext2 {
    color: rgb(231, 244, 255);
    width: 98%;
    margin-left: 50px;
    margin-right: 10px;
    font-size: 20px;
    margin-top: 10px;
    padding-left: 10px;
    position: relative; 
    display: flex;
    width: 98%;
}

.bannerblackpadding {
    background-color: rgb(0, 0, 0);
    width: 100%;
    padding-top: 0;
    margin-top: 0;
    left: 0%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0%;

}

a:link { 
    text-decoration: none; 
    color: white;
}

a:visited { 
    text-decoration: none; 
    color: white;
}

.location {
    display:flex;
}

.map {
    position: static; 
    margin-left: 50px;
    padding-left: 10px;
    margin-right: auto;
    height: 100%;
    width: 60%;
    overflow-y: hidden;

}

.centered-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }